*.pyc
wsgi.py
*.xml
*.iml
/.vscode
*.pyc
static/media
static/CACHE
static/app_rating
.idea
*.log
.htaccess
.DS_Store
.sass-cache/*
.DS_Store
static/.DS_Store
/logs/
db-backup.sql
static/scss/.sass-cache/*
*.DS_Store
newrelic.ini
*.map
/venv/
